<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ADbugo</title>
    <link type="text/css" href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="bootstrap/font-icon/css/font-awesome.css">
    <link type="text/css" href="css/public.css" rel="stylesheet">
    <link type="text/css" href="css/return_process.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/public.js"></script>
</head>
<body>
<div id="doc1">
    <div id="hd">
        <header>
            <div class="layout">
                <div class="header-top clearfix">
                    <div class="logo fl"></div>
                    <ul class="header-top-info fr">
                        <li class="header-top-have fl"><a href="#"><span>我要发广告</span></a> </li>
                        <li class="header-top-have fl"><a href="#"><span>我有广告位</span></a> </li>
                        <li class="header-top-user fl">
                            <a href="#"><img src="images/user.jpg"></a>
                            <span><a href="#">登录</a></span>|<span><a href="#">注册</a> </span>
                        </li>
                        <li class="fr header-top-callme">
                            <a href="#"> <img src="images/callme.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav>
                <div class="nav">
                    <div class="layout">
                        <div class="nav-phone fl">
                            <i class="nav-phone-icon"></i>
                            <span class="nav-phone-number">400-0102-123</span>
                        </div>
                        <div class="fl nav-info">
                            <ul>
                                <li class="nav-info-item fl"><a href="#">首页</a></span></li>
                                <li class="nav-info-item fl"><a href="#">活动类专区</a></span>
                                </li>
                                <li class="nav-info-item fl"><a href="#">免费广告位</a></span>
                                </li>
                                <li class="nav-info-item fl"><a href="#">特价广告位</a></span>
                                </li>
                                <li class="nav-info-item fl"><a href="#">媒体众筹</a></span>
                                </li>
                                <li class="nav-info-item fl"><a href="#">广告主众筹</a></span>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-search fr">
                            <div class="button-classify fl">
                                <div class="nav-search-hide fl">
                                    <button type="button" class="btn dropdown-toggle nav-classify" data-toggle="dropdown" aria-expanded="false"><b>分&nbsp;&nbsp;类</b> </button>
                                    <ul class="nav-search-menu dropdown-menu" role="menu">
                                        <li>
                                            <strong>自媒体:</strong>
                                            <span><a href="#">微博</a> </span>
                                            <span><a href="#">微信</a> </span>
                                            <span><a href="#">其他</a> </span>
                                        </li>
                                        <li>
                                            <strong>网络广告:</strong>
                                            <span><a href="#">图文</a> </span>
                                            <span><a href="#">视频</a> </span>
                                            <span><a href="#">其他</a> </span>
                                        </li>
                                        <li>
                                            <strong>APP:</strong>
                                            <span><a href="#">app广告</a> </span>
                                        </li>
                                        <li>
                                            <strong>纸媒广告:</strong>
                                            <span><a href="#">报纸</a> </span>
                                            <span><a href="#">杂志</a> </span>
                                            <span><a href="#">其他</a> </span>
                                        </li>
                                        <li>
                                            <strong>电视广告:</strong>
                                            <span><a href="#">时段广告</a> </span>
                                            <span><a href="#">赞助广告</a> </span>
                                        </li>
                                        <li>
                                            <strong>广告平台:</strong>
                                            <span><a href="#">室内广告</a> </span>
                                            <span><a href="#">户外广告</a> </span>
                                        </li>
                                    </ul>
                                    <input type="text" class="search-input" placeholder="搜索广告位">
                                </div>
                                <div class="nav-search-bt fl">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <article>
            <div class="layout">
                <div class="personal clearfix">
                    <div class="personal-left">
                        <dl>
                            <dt class="personal-left-title"></dt>
                            <dd class="personal-left-item"><a href="#">我的订单</a> </dd>
                            <dd class="personal-left-item"><a href="#">广告主信息</a> </dd>
                            <dd class="personal-left-item"><a href="#">我的收藏</a> </dd>
                            <dd class="personal-left-item"><a href="#">我的关注</a> </dd>
                            <dd class="personal-left-item"><a href="#">我的积分</a> </dd>
                            <dd class="personal-left-item"><a href="#" class="active">退货清单</a> </dd>
                        </dl>
                    </div>
                    <div class="details">
                        <div class="details-title"><span>退款流程进度</span></div>
                        <div class="details-list-code">
                            <span class="details-list-code-number">退单编号：<b>123455454545</b></span>
                            <span class="details-list-code-state">商家:<span>安德里广告牌</span></span>
                        </div>
                        <div class="details-flow">
                            <div class="details-flow-info">
                                <div class="details-mark-line"></div>
                                <span class="details-flow-item success">
                                    <div class="details-flow-mark">
                                        <div class="details-flow-number">1</div>
                                        <div class="details-flow-text">提交订单</div>
                                    </div>
                                </span>
                                <span class="details-flow-item success">
                                    <div class="details-flow-mark">
                                        <div class="details-flow-number">2</div>
                                        <div class="details-flow-text">正在审核</div>
                                    </div>
                                </span>
                                <span class="details-flow-item active">
                                    <div class="details-flow-mark">
                                        <div class="details-flow-number">3</div>
                                        <div class="details-flow-text">回款中</div>
                                    </div>
                                    <div class="details-this"><span>当前</span></div>
                                </span>
                                <span class="details-flow-item will">
                                    <div class="details-flow-mark">
                                        <div class="details-flow-number">4</div>
                                        <div class="details-flow-text">完成</div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="details-title"><span>退单详情</span></div>
                        <div class="details-info">
                            <table>
                                <tr>
                                    <td class="details-info-left">退款方式</td>
                                    <td class="details-info-right"> 线下返还&nbsp;&nbsp;&nbsp;金额：<span class="return-process-color">5000</span>元&nbsp;&nbsp;&nbsp; 积分：<span class="return-process-color">-5000</span></td>
                                </tr>
                                <tr>
                                    <td class="details-info-left">处理方式</td>
                                    <td class="details-info-right"> 客户期望处理方式为“退货” ，最终处理方式为“退货”</td>
                                </tr>
                                <tr>
                                    <td class="details-info-left">问题描述</td>
                                    <td class="details-info-right"><span class="return-process-color">不合格</span></td>
                                </tr>
                                <tr>
                                    <td class="details-info-left">所属公司</td>
                                    <td class="details-info-right">安家传媒</td>
                                </tr>
                                <tr>
                                    <td class="details-info-left">联系方式</td>
                                    <td class="details-info-right"><span>联系人：安家传媒</span>&nbsp;&nbsp;&nbsp;<span>联系电话：18852563269</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
<footer>
    <div id="ft">
        <div class="footer">
            <div class="layout">
                <div class="plate-A">
                    <img src="images/index/A.png">
                </div>
                <div class="ft-link">
                    <span class="ft-link-item"><a href="#">关于我们</a> </span> /
                    <span class="ft-link-item"><a href="#">关于我们</a> </span> /
                    <span class="ft-link-item"><a href="#">关于我们</a> </span> /
                    <span class="ft-link-item"><a href="#">关于我们</a> </span> /
                    <span class="ft-link-item"><a href="#">关于我们</a> </span> /
                    <span class="ft-link-item"><a href="#">关于我们</a> </span>
                </div>
                <div class="ft-top">
                    <span class="footer-top-item">
                        <i class="fa fa-weibo"></i>
                    </span>
                    <span class="footer-top-item">
                        <i class="fa fa-qq"></i>
                    </span>
                    <span class="footer-top-item">
                        <i class="fa fa-weixin"></i>
                    </span>

                </div>
            </div>
            <div class="ft-company">
                <span>copyright ©2013 / 京ICP备06013722号 安家传媒集团版权所有</span>
            </div>
        </div>
    </div>
</footer>
<div class="right-float">
    <div class="float-top" style="color: #fff"></div>
</div>
</body>
</html>