.d_global_title{
    color: #4b1304;
    margin: 26px 0px 6px 0px;
}
.d_product{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 100%;
    padding: 29px 19px 19px 19px;
}
.d_product_img_block{
    width: 632px;
    height: 389px;
    background-color: #f1f1f1;
    padding: 5px;
    position: relative;
}
.d_product_img_line{
    width: 622px;
    height: 379px;
    background-color: #cccccc;
    padding: 3px 1px 21px 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.d_product_img_line_info{
    width: 622px;
    height: auto;
}
.d_product_img_line img{
    width: 620px;
    height: 375px;
    display: block;
    border: 0;
    margin-bottom: 3px;
}
.d_product_small{
    background-color: rgba(255, 255, 255, 0.39);
    width: 90px;
    padding: 3px 5px;
    position: absolute;
    right: 0;
    top: 0px;
    height: 376px;
    overflow: hidden;
    margin: 8px 6px 0px 0px;
    text-align: center;
}
.d_product_small .d_product_small_item{
    display: inline-block;
    width: 80px;
    height: 66px;
    border:1px solid #2e1d0b;
    margin: 4px 0;
    cursor: pointer;
}
.d_product_small .d_product_small_item.active{
    border: 1px solid #ffffff;
}
.d_product_small .d_product_small_item img{
    width: 78px;
    height: 64px;
}
.d_product_small_operate{
    position: relative;
}
.d_product_small_top{
    background: url("../images/details/top.png") no-repeat 0 0;
    width: 20px;
    height: 11px;
    position: absolute;
    z-index: 20;
    text-align: center;
    margin: 10px auto 10px auto;
    left: 0;
    right: 0;
    cursor: pointer;
}
.d_product_small_down{
    background: url("../images/details/down.png") no-repeat 0 0;
    width: 20px;
    height: 11px;
    position: absolute;
    z-index: 20;
    text-align: center;
    margin: 0px auto;
    left: 0;
    right: 0;
    bottom: 13px;
    cursor: pointer;
}
.d_product_info{
    margin-left: 20px;
    margin-top: 5px;
    height: 380px;
    position: relative;
}
.d_product_info_top{
    margin-bottom: 30px;
}
.d_product_info_title{
    font-size: 28px;
    font-weight: 600;
    color: #1d1d1d;
    width: 355px;
    display:block;/*内联对象需加*/
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
.d_product_info_attention{
    background: url("../images/details/attention.png") no-repeat 0 0;
    width: 140px;
    height: 36px;
    padding: 7px 0;

}
.d_product_info_attention strong{
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
}
.d_product_info_attention span i{
    font-size: 12px;
    color: #cccccc;
}
.d_product_info_attention span i.active{
    color: #de3e3c;
}
.d_product_attribute li{
    margin-bottom: 12px;
    color: #595959;
    font-size: 18px;
}
.d_product_attribute strong{
    font-weight: normal;
    display: inline-block;
}

.details-amount{
    width: 108px;
    height: 32px;
    background: url("../images/details/number.png") no-repeat 0 0;
    display: inline-block;
    position: relative;
    padding: 1px;
    vertical-align: middle;
}
.details-amount-plus{
    display: inline-block;
    width: 32px;
    height: 30px;
    cursor: pointer;
    float: left;
}
.details-amount-input input{
    float: left;
    border: 0;
    width: 41px;
    height: 30px;
    margin-left: 1px;
    font-size: 14px;
    color: #595959;
    text-align: center;
}
.details-amount-minus{
    display: inline-block;
    width: 32px;
    height: 30px;
    cursor: pointer;
    float: right;
}
.details .details-amount-total{
    font-size: 16px;
    margin-left: 10px;
}
.details .details-amount-total .details-amount-total-text{
    color: #ff0000;
}
.d_product_position{
    position: relative;
    width: 230px;
    display: inline-block;
    vertical-align: middle;
}
.d_product_star{
    font-size: 16px;
    color: #f7931e;
}
.d_product_star.no{
    color: #cccccc;
}
.d_product_position .d_product_position_item{
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  padding: 3px 0;
  font-size: 16px;
  border: 1px solid #cccccc;
  margin-right: 10px;
  cursor: pointer;
}

.d_product_position .d_product_position_item.active{
    background-color: #cccccc;
}

.d_product_time{
    display: inline-block;
    vertical-align: top;
    width: 430px;
}
.d_product_time .d_product_time_item{
  display: inline-block;
  text-align: center;
  padding: 3px 15px;
  font-size: 16px;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.d_product_time .d_product_time_item.active{
    background-color: #cccccc;
}

.d_product_bt{
    position: absolute;
    bottom: 0;
    height: 40px;
}
.d_product_bt .d_product_bt_buy{
    background: url("../images/details/bt1.png") no-repeat 0 0;
    display: inline-block;
    width: 120px;
    height: 36px;
    margin-right: 5px;
}
.d_product_bt .d_product_bt_look{
    background: url("../images/details/bt2.png") no-repeat 0 0;
    display: inline-block;
    width: 120px;
    height: 36px;
    margin-right: 5px;
}
.d_product_bt .d_product_bt_contrast{
    background: url("../images/details/bt3.png") no-repeat 0 0;
    display: inline-block;
    width: 120px;
    height: 36px;
    margin-right: 5px;
}

.d_product_bt .d_product_bt_contrast.add{
    background: url("../images/details/productadd.png") no-repeat 0 0;
    display: inline-block;
    width: 120px;
    height: 36px;
    margin-right: 5px;
}
.d_teach{
    background: url("../images/details/details_line.png") repeat 0 0;
    width: 1160px;
    height: 40px;
    margin-top: 10px;
    padding: 5px;
}
.d_teach_left{
    float: left;
    color: #ffffff;
    margin-top: 5px;
}
.d_teach_left a{
    color: #ffffff;
}
.d_teach_left a:hover{
  color:#ffffff;
}
.d_teach_right{
    margin-right: 140px;
}
.d_teach_right span{
    margin: 0 30px;
}
.d_information{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-top: 10px;
    padding: 20px 19px;
}
.d_information_left{
    float: left;
    width: 300px;
    margin-right: 20px;
}
.d_information_buy_block{
    border: 1px solid #e7e7e7;
    border-top: 3px solid #cccccc;
    padding: 15px 9px 0 9px;
    background-color: #f1f1f1;
}
.d_information_buy_info{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 17px;
}
.d_information_buy_title{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 14px;
}
.d_information_buy_title i{
    background: url("../images/details/buy.png") no-repeat 0 0;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}
.d_information_buy_item a{
    display: inline-block;
    background-color: #1d1d1d;
    background-image:-webkit-linear-gradient(to top, #1d1d1d,#595959);
    background-image:linear-gradient(to top,#1d1d1d,#595959);
    padding: 10px 12px;
    color: #ffffff;
    font-size: 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 4px 3px;
}
.d_information_buy_item a:hover{color:#ffffff}
.d_information_buy_bottom{
    padding: 10px 0;
}
.d_information_buy_bottom i{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
}
.d_information_buy_bottom a{
    color: #5d5d5d;
    margin-left: 3px;
}


.d_information_recommend_title{
    font-size: 18px;
    font-weight: bold;
    margin-top: 19px;
    margin-bottom: 14px;
}

.d_information_recommend_title i{
    background: url("../images/home/left_nav.png") no-repeat 0 0;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}
.d_information_recommend_block{
    border: 1px solid #e7e7e7;
    border-top: 3px solid #cccccc;
    padding: 15px 9px 0 9px;
    background-color: #f1f1f1;
}
.d_information_recommend_info{
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.d_information_recommend_link_small{
    float: left;
    margin-bottom: 15px;
    text-align: center;
}
.d_information_recommend_link_small a{
    font-size: 12px;
    color: #595959;
    display: inline-block;
    margin-top: 5px;
}
.d_information_recommend_link a{
    font-size: 12px;
    color: #595959;
    display: inline-block;
    margin-top: 5px;
}
.d_information_recommend_link i{
    font-size: 16px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.d_information_recommend_info img{
    max-width: 280px;
    min--width: 135px;
    display: block;
}

.d_information_recommend_bottom{
    padding: 0px 0 10px 0;
}
.d_information_recommend_bottom i{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
}
.d_information_recommend_bottom a{
    color: #5d5d5d;
    margin-left: 3px;
}
.d_information_right{
    float: left;
    width: 839px;

}
.d_details{
    background-color: #f1f1f1;
    padding: 5px;
}
.d_details_content{
    position: relative;
    border: 1px solid #cccccc;
    border-top: 3px solid #cccccc;
    background-color: #ffffff;
    padding-bottom: 40px;
}
.d_details_title{
    position: relative;
    height: 40px;
    background-color: #f1f1f1;
}
.d_details_title_item{
    position: relative;
    float: left;
    width: 180px;
    padding: 11px 50px;
    display: table-cell;
    vertical-align: middle;
    height: 43px;
    top: -3px;
    border-top: 3px solid #cccccc;
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.d_details_title_item.active{
    background-color: #ffffff;
    border-top: 3px solid #de3e3c;
}
.d_details_title_share{
    float: right;
    padding: 11px 20px 11px 0px;
}
.d_details_title_share span{
    margin-right: 8px;
    cursor: pointer;
}
.bdsharebuttonbox{
  position: absolute; 
  margin-left:240px;
  margin-top: 9px;
}
.bdsharebuttonbox span{
  vertical-align:middle;
  float:left;
}
.bdsharebuttonbox span a{
  margin-top:3px;
}
.d_details_title_share i{
    font-style: normal;
    vertical-align: middle;
    margin-right: 3px;
}
.d_details_title_share_wx{
    background: url("../images/details/icon.png") no-repeat 0 0;
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: middle;
}
.d_details_title_share_wb{
    background: url("../images/details/icon2.png") no-repeat 0 0;
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: middle;
}
.d_comment{
    text-align: left;
    margin: 0px 20px 20px 20px;
}
.d_comment_item{
    margin-top: 50px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}
.d_comment_left{
  width:50px;
}
.d_comment_left_img{
    border: 5px solid #d9d9d9;
    width: 61px;
    height: 61px;
}
.d_comment_left_img img{
    width: 51px;
    height: 51px;
}
.d_comment_item td{
    padding: 0 20px 30px 20px;
}
.d_comment_left_name{
    display: block;
    font-size: 12px;
    color: #cccccc;
    margin-top: 15px;
}
.d_comment_main{
    text-align: left;
    vertical-align: top;
    color: #595959;
    position: relative;
}
.d_comment_time{
    font-size: 12px;
    color: #cccccc;
    position: relative;
    top:16px;
}
.d_details_content_info {
    background-color: #ffffff;
    padding: 50px 40px 0px 40px;
}
.d_details_content_info_item{
    margin-bottom: 20px;
}
.d_details_content_info_item strong{
    font-size: 18px;
    font-weight: normal;
}
.d_details_content_info_position{
    border: 3px dashed #e7e7e7;
    width: 540px;
    height: 360px;
    background-color: #f1f1f1;
    margin-left: 40px;
}
.d_details_content_info_position img{
    max-width: 540px;
    max-height: 360px;
}
.d_app{
    margin-top: 20px;
}
.d_app_bg{
    background-color: #f1f1f1;
    padding: 1px 5px 5px 5px;
}
.d_app_title{
    background: url("../images/details/details_title.png") repeat 0 0;
    height: 40px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
}
.d_app_title i{
    background: url("../images/home/left_nav.png") no-repeat 0 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
}
.d_app_content{
    margin-top: 5px;
    border: 1px solid #cccccc;
}
.d_app_content_block{
    background-color: #ffffff;
    padding: 30px 0px 30px 40px;
}
.d_app_content_block_title{
    font-size: 18px;
    margin-bottom: 20px;
}
.d_app_content_item{
    margin-bottom: 25px;
    margin-right: 45px;
    float: left;
}
.d_app_content_item img{
    display: block;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-bottom: 2px;
    /*border: 2px solid #e7e7e7;*/
}
.d_app_content_item i{
    font-size: 16px;
    margin-right: 5px;
}
.d_app_content_item a{
    font-size: 12px;
    color: #595959;
}
.d_details_bottom{
    margin-top: 20px;
}
.d_details_content_info td{
    padding: 10px;
}
.d_details_left_img{
    width: 231px;
    height: 185px;
    background-color: #d9d9d9;
    border: 1px solid #cccccc;
    padding: 6px;
}
.d_details_left_img img{
    width: 216px;
    height: 169px;
}
.d_details_bottom{

}
.d_details_bottom table{
    width: 740px;
    margin: 40px;
}
.d_details_left_td{
    width: 231px;
    height: 185px;
}
.d_details_bottom table td{
    text-align: left;
}
.d_details_content_info_position2{
    border: 3px dashed #e7e7e7;
    width: 740px;
    height: 272px;
    background-color: #f1f1f1;
}
.d_app_content_item_bg{
    margin: 4px;
    float: left;
}
.d_app_content_item_bg img{
    display: block;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-bottom: 2px;
    width: 145px;
    height: 100px;
}
.d_app_content_block_bg{
    padding: 30px;
}
.c_details_side{
    height: 100%;
    position: fixed;
    right: -40px;
    top: 0;
    width: 40px;
}
.c_details_side_line{
    width: 40px;
    height: 100%;
    background-color: #f74543;
    padding: 0 2px;
    position: relative;
    z-index: 100;
}
.c_details_side_buy a{
    background: url("../images/details/side1.png") no-repeat 0 0;
    width: 36px;
    height: 142px;
    border-bottom: 2px solid #fba2a1;
    display: inline-block;
}
.c_details_side_add a{
    background: url("../images/details/side2.png") no-repeat 0 0;
    width: 36px;
    height: 185px;
    border-bottom: 2px solid #fba2a1;
    margin-top: 20px;
    display: inline-block;
}
.c_details_side_contrast a{
    background: url("../images/details/side3.png") no-repeat 0 0;
    width: 36px;
    height: 153px;
    margin-top: 20px;
    display: inline-block;
}
.c_details_side_block{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 500px;
}
.c_details_side_hover{
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    height: 130px;
    padding: 5px 2px;
    margin: auto 0;
    background-color: #f74543;
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    z-index: 50;
}
.c_details_side_buy_item{
    background: url("../images/details/s1.png") no-repeat 0 0;
    width: 24px;
    height: 30px;
    display: inline-block;
    margin: 5px 0;
}
.c_details_side_add_item{
    background: url("../images/details/s2.png") no-repeat 0 0;
    width: 26px;
    height: 30px;
    display: inline-block;
}
.c_details_side_contrast_item{
    background: url("../images/details/s3.png") no-repeat 0 0;
    width: 24px;
    height: 30px;
    display: inline-block;
    margin: 5px 0;
}












