.details{
    margin-top: 25px;
    margin-bottom: 130px;
}
.details-title{
    position: relative;
    top: -20px;
}
.details-title-text{
    color: #e6e6e6;
    font-size: 18px;
}
.details-title-text span{
    color: #333333;
    font-size: 12px;
    vertical-align: middle;
    margin: 0 5px;
}
.details-title-bt{
    position: absolute;
    right: 0;
    top: 5px;
}
.details-title-bt dt{
    background: url("../images/details/anniu1.png") no-repeat 0 0;
    width: 125px;
    height: 31px;
    text-align: center;
    font-weight: 200;
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    cursor: pointer;
}
.details-title-bt dt:hover{
    background: url("../images/details/anniu2.png") no-repeat 0 0;
}
.details-title-bt dd{
    text-align: center;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    display: none;
}
.details-title-bt dd a{
    display: inline-block;
    padding: 6px 0;
    width: 100%;
}
.details-title-bt dd a:hover{
    background-color: #ebebeb;
    color: #ff4c4c;
}
.details .details-picture{
    position: relative;
    width: 520px;
    height: 390px;
}
.details .details-picture-img{
    position: relative;
    width: 520px;
    height: 390px;
}
.details .details-picture-img img{
    position: absolute;
    width: 520px;
    height: 390px;
}
.details .details-picture-tab{
    position: absolute;
    bottom: 0px;
    background: url("../images/details/tabbg.png") no-repeat 0 0;
    height: 80px;
    width: 520px;
    padding: 10px 5px 7px 5px;
    overflow: hidden;
}
.details .details-picture-tab .details-picture-tab-left{
    background: url("../images/details/lt1.png") no-repeat 0;
    width: 11px;
    height: 20px;
    cursor: pointer;
    position: relative;
    top: 20px;
}
.details .details-picture-tab .details-picture-tab-left:hover{
    background: url("../images/details/lt2.png") no-repeat 0;
}
.details .details-picture-tab .details-picture-tab-right{
    background: url("../images/details/rt1.png") no-repeat 0;
    width: 11px;
    height: 20px;
    cursor: pointer;
    position: relative;
    top: 20px;
}
.details .details-picture-tab .details-picture-tab-right:hover{
    background: url("../images/details/rt2.png") no-repeat 0;
}
.details .details-picture-tab-block{
    margin-left: 5px;
    width: 470px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.details .details-picture-tab-line{
    width: 2000px;
}
.details .details-picture-tab-item{
    float: left;
    margin: 0 8px;
    cursor: pointer;
}
.details .details-picture-tab-item.active{
    border: 2px solid #e5004f;width: 63px;
    width: 63px;
    height: 63px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.details .details-picture-tab-item.active img{
    height: 59px;
    width: 59px;
}
.details .details-picture-tab-item img{
    width: 63px;
    height: 63px;
}
.details .details-info{
    float: left;
    margin-left: 85px;
}
.details .details-info .details-info-title{
    margin-top: 30px;
    font-size: 24px;
    margin-left: 19px;
}
.details .details-info-price{
    background-color: #f8f8f8;
    width: 589px;
    padding: 19px 78px 27px 21px;
    position: relative;
    margin-top: 20px;
}
.details .details-info-price-color{
    color: #ff0000;
}
.details .details-info-price-info{
    font-size: 24px;
}
.details .details-info-price-info i{
    font-size: 14px;
}
.details .details-info-evaluation{
    border-left: 1px solid #dcdcdc;
    padding-left: 28px;
    display: table-cell;
    vertical-align: middle;
    margin-top: 12px;
    font-size: 12px;
}
.details .details-info-evaluation-top{
    color: #767676;
}
.details .details-info-evaluation-down{
    color: #7bccff;
}
.details .details-info-amount{
    margin-top: 20px;
    margin-left: 21px;
}
.details .details-info-amount .details-amount{
    width: 108px;
    height: 32px;
    background: url("../images/details/number.png") no-repeat 0 0;
    display: inline-block;
    position: relative;
    padding: 1px;
    vertical-align: middle;
}
.details .details-info-amount .details-amount .details-amount-plus{
    display: inline-block;
    width: 32px;
    height: 30px;
    cursor: pointer;
    float: left;
}
.details .details-info-amount .details-amount .details-amount-input input{
    float: left;
    border: 0;
    width: 41px;
    height: 30px;
    margin-left: 1px;
    font-size: 14px;
    color: #7bccff;
    text-align: center;
}
.details .details-info-amount .details-amount .details-amount-minus{
    display: inline-block;
    width: 32px;
    height: 30px;
    cursor: pointer;
    float: right;
}
.details .details-amount-total{
    font-size: 16px;
    margin-left: 10px;
}
.details .details-amount-total .details-amount-total-text{
    color: #ff0000;
}
.details .details-concerned-collection{
    text-align: right;
    padding-right: 5px;
    cursor: pointer;
}
.details .details-concerned-collection .details-info-collection{
    margin-left: 20px;
    cursor: pointer;
}
.details .details-concerned-collection .details-info-collection i{
    font-size: 18px;
    color: #fada00;
    vertical-align: middle;
    margin-left: 7px;
}
.details .details-business{
    margin-top: 16px;
    margin-left: 40px;
}
.details-stage{
    border-top: 1px dotted #959595;
    margin-top: 20px;
    padding-top: 12px;
    font-size: 12px;
    position: relative;
}
.details-stage-title{
    vertical-align: top;
    padding-top: 10px;
    width: 40px;
}
.details-stage-block{
    width: 300px;
}
.details-stage .details-stage-item{
    color: #7bccff;
    display: inline-block;
    padding: 7px 10px 5px 10px;
    margin: 4px 10px 4px 0;
    border: 1px solid #7bccff;
    cursor: pointer;
}
.details-stage .details-stage-item.active{
    background-color: #7bccff;
    color: #ffffff;
}
/*.details-stage td{*/
    /*padding: 4px 10px 4px 0;*/
/*}*/
.details .details-buy-now button{
    width: 123px;
    height: 36px;
    border: 0;
    font-size: 18px;
    color: #ffffff;
    margin-right: 45px;
    background: url("../images/details/bt.png") no-repeat 0 0;
}
.details .details-buy-now button:hover{
    background: url("../images/details/bthover.png") no-repeat 0 0;
}
.details .details-cart button{
    width: 138px;
    height: 36px;
    border: 0;
    font-size: 18px;
    color: #ffffff;
    margin-right: 45px;
    background: url("../images/details/bt2.png") no-repeat 0 0;
}
.details .details-cart button:hover{
    background: url("../images/details/bt2hover.png") no-repeat 0 0;
}
.details .details-specifics{
    margin-top: 30px;
}
.details .details-specifics .details-recommend{
    width: 280px;
}
.details .details-recommend-title{
    border-left: 10px solid #ededed;
    font-size: 18px;
    /*line-height: 0;*/
    /*position: relative;*/
    background-color: #f9f9f9;
    padding: 7px 0px 6px 28px;
}
.details .filter-recommend-item{
    width: 300px;
    height: 136px;
    position: relative;
    margin-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px dotted #959595;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
}
.details .filter-recommend-item img{
    width: 300px;
    height: 136px;
    display: block;
}
.details .filter-recommend-item-bg{
    display: none;
    position: absolute;
    width: 300px;
    height: 136px;
    color: #ffffff;
    font-size: 20px;
    left: 0;
    top: 0;
    text-align: center;
    background: url("../images/list/filter-bg.png") repeat 0 0;
    line-height: 7;
}
.details-recommend-more-mark{
    font-size: 16px;
    vertical-align: middle;
    font-weight: normal;
    position: relative;
    bottom: 2px;
}
.details .introduction{
    margin-left: 65px;
    width: 849px;
}
.details .introduction-list-title{
    font-size: 18px;
    border-bottom: 2px solid #ff4c4c;
}
.details .introduction-list-title span{
    margin-left: 34px;
    line-height: 1.8;
    cursor: pointer;
}
.introduction-title{
    border-left: 10px solid #ededed;
    font-size: 18px;
    background-color: #f9f9f9;
    padding: 7px 0px 6px 28px;
}
.details .introduction-list-title span.active{
    color: #ff4c4c;
}
.introduction-account{
    margin-top: 20px;
}
.introduction-account table{
    border-collapse: collapse;
    border-color: #363636;
    margin-top: 10px;
    width: 100%;
}
.introduction-account-name{
    padding: 7px 12px 7px 50px;
    text-align: right;
    font-size: 18px;
    color: #272729;
}
.introduction-account-text{
    padding-left: 20px;
}
.details .introduction-list table{
    width: 720px;
    margin-left: 100px;
    margin-top: 25px;
}
.details .introduction-list-strong{
    width: 130px;
    padding: 10px 25px;
    font-size: 16px;
    border-right: 1px solid #d7d7d7;
    text-align: right;
    vertical-align: text-top;
}
.details .introduction-list-info{
    padding: 10px 25px;
    font-size: 12px;
}
.details .introduction-seller{
    margin-top: 20px;
}
.details .introduction-seller-info{
    margin-top: 25px;
    text-align: center;
}
.details .introduction-seller-info img{
    max-width: 849px;
}
.introduction-consumer-block{
    padding-bottom: 20px;
    border-bottom: 2px solid #ff4c4c;
}


.details .introduction-consumer-assess-heart i{
    font-size: 16px;
    color: #d7dcdc;
}
.details .introduction-consumer-assess-heart i.active{
    color: #e7125b;
}

.details .introduction-consumer-assess-item{
    margin-top: 20px;
    font-size: 14px;
}
.introduction-consumer-assess-text{
    margin-top: 13px;
}
.introduction-consumer-assess-heart{
    margin-top: 15px;
}
.introduction-consumer-assess-money{
    margin-top: 15px;
    color: #bebebe;
}
.details .introduction-consumer-assess-name{
    background-color: #f6f6f6;
    padding: 5px 30px 5px 40px;
}
.introduction-consumer-assess-block{
    padding-left: 40px;
}
.introduction-consumer-time{
    font-size: 12px;
    color: #c4c4c4;
    margin-top: 2px;
}


.page{
    height: 30px;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}
.page .page-item{
    border:1px solid #e5e5e5;
    padding: 6px 0;
    font-size: 12px;
    text-align: center;
    width: 26px;
    display: inline-block;
    float: left;
}
.page span{
    margin: 0 4px;
    float: left;
}
.page .page-item.active{
    background-color: #ff4c4c;
    color: #ffffff;
}
.page .page-item-previous,
.page .page-item-next{
    border:1px solid #e5e5e5;
    width: 56px;
    padding: 6px 0;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}
.page-return{
    position: relative;
}
.page-return input{
    width: 53px;
    font-size: 12px;
    padding: 6px;
    border: 1px solid #ff4c4c;
    height: 30px;
}
.page-return button{
    width: 56px;
    font-size: 12px;
    padding: 6px 0;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}


























































