/*article 主题内容*/

.content_home{
    background-color: #ffffff;
    margin: 10px 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 16px 0;
}
.content_home .left_nav{
    margin-top: 3px;
    width: 232px;
    background-color: #f1f1f1;
    border: 1px solid #e7e7e7;
    height: 454px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content_home .left_nav .left_nav_title{
    margin: 4px 0;
    padding: 12px 0px 10px 0px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background-color: #333333;
}
.left_nav_change{
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 12px;
}
.left_nav_change .left_nav_every{
    margin-top: 10px;
    padding-bottom: 14px;
    border-bottom: 1px solid #cccccc;
    text-align: center;
}
.left_nav_change_topic{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin-left: 10px;
}
.left_nav_change_topic i{
    background: url("../images/home/left_nav.png") no-repeat 0 0;
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.left_nav_change_item{
    background: url("../images/home/home_select.jpg") no-repeat 0 0;
    height: 36px;
    width: 204px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    position: relative;
    border: 0;
    margin-top: 6px;
    color: #595959;
    padding-right: 30px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background: url("../images/home/home_select.jpg") no-repeat 0 0;
    border:0;
}
.left-nav .filter-nav-button:active{
    background: url("../images/home/home_select.jpg") no-repeat 0 0;
}

.left_nav_change_input{
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 12px;
    color: #595959;
}
.left_nav_change_input input{
    background: url("../images/home/home_inout.png") no-repeat 0 0;
    width: 87px;
    height: 36px;
    border: 0;
    margin: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 10px;
    vertical-align: middle;
}
.left_nav_change_input span{
    margin: 0 1px;
}
.left_nav_every_bt{
    text-align: center;
}
.left_nav_every_bt button{
    background: url("../images/home/home_bt.png") no-repeat 0 0;
    width: 161px;
    height: 32px;
    border: 0;
}
.banner_right{
    float: left;
    margin-left: 10px;
    background-color: #f1f1f1;
    width: 758px;
    height: 462px;
    padding: 7px 5px 7px 5px;
}
.banner_right .banner{
    position: relative;
    border: 1px solid #cccccc;
    padding: 1px;
}
.banner_right .banner .nav-banner{
    position: relative;
    width: 744px;
    height: 448px;
}
.banner_right .nav-banner .page{
    position: absolute;
    height: 441px;
    width: 100%;
}
.banner_right  .nav-banner .page img{
    width: 744px;
    height: 448px;
}
.banner_right .banner-mark{
    position: absolute;
    text-align: right;
    right: 0;
    z-index: 300;
    bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 30px;
}
.banner_right .banner-mark .banner-mark-item{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
}
.banner_right .banner-mark .banner-mark-item a{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../images/home/banner.png") no-repeat 0 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 5px;
    transition: all ease 0.6s;
    cursor: pointer;
}
.banner_right .banner-mark .banner-mark-item.active a{
    background: url("../images/home/banneractive.png") no-repeat 0 0;
}


.plate_bg{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
}
.plate{
    height: 200px;
    width: 980px;
    background: url("../images/home/plate.gif") no-repeat 0 0;
}


.plate .da-thumbs {
    list-style: none;
    position: relative;
    padding: 0;
    height: 200px;
    width: 1200px;
}
.plate .da-thumbs li {
    float: left;
    position: relative;
    height: 200px;
    width: 320px;
    border: 1px solid #eaeaea;
}
.da-thumbs li a,
.da-thumbs li a img {
    display: block;
    position: relative;
}
.da-thumbs li a {
    overflow: hidden;
}
.da-thumbs li a .plate-text {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff4c4c;
    text-align: center;
    padding-top: 50px;
    color: #ffffff;
}
.da-thumbs li .plate-text-show{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
}
.plate .plate-item-china{
    font-size: 22px;
}
.plate .plate-item-china{
    font-size: 22px;
    font-weight: 800;
    margin-top: 60px;
}
.plate .plate-item-big{
    font-size: 16px;
    margin-top: 15px;
}
.plate .plate-item-small{
    font-size: 10px;
    font-style: italic;
    margin-top: 3px;
    font-family: Georgia;
}
/*article 主题内容*/
