/*article content*/

.left-nav{
    width: 300px;
    float: left;
    height: 441px;
}
.left-nav .advert{
    width: 300px;
    height: 85px;
}
.left-nav .filter-nav{
    width: 300px;
    background: url("../images/index/left-nav.png") repeat-y 0 0;
    height: 355px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;;
}
.left-nav .filter-nav-item{
    margin-left: 38px;
    padding-top: 13px;
}
.left-nav .filter-nav-title{
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5;
    font-weight: bold;
    margin-left: 18px;
}
.left-nav .filter-nav-button{
    width: 221px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    position: relative;
    background: url("../images/index/select.png") no-repeat 0 0;
    border: 0;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background: url("../images/index/select.png") no-repeat 0 0;
    border:0;
}
.left-nav .filter-nav-button:active{
    background: url("../images/index/select.png") no-repeat 0 0;
}
.left-nav .filter-nav-caret{
    position: absolute;
    right: 25px;
    bottom: 17px;
}
.left-nav .filter-nav-menu{
    width: 221px;
}
.left-nav .filter-nav-input{
    /*color: #ffffff;*/
    font-weight: bold;
}
.left-nav .filter-nav-input b{
    margin: 0 8px;
    color: #ffffff;
}
.left-nav .filter-nav-input input{
    background: url("../images/index/input.png") no-repeat 0 0;
    width: 90px;
    height: 30px;
    border: 0;
    padding: 7px 15px;
    border-radius: 15px;
    -webkit-border-radius:15px;
    color: #37b1ff;
    font-family: '����';
    box-sizing: border-box;
}
.left-nav .filter-nav-retrieval{
    height: 40px;
    width: 221px;
    border-radius: 20px;
    -webkit-border-radius:20px;
    border: 1px solid #ffffff;
    background: none;
    margin-bottom: 17px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.left-nav .filter-nav-retrieval:hover{
    background-color: #ffffff;
    color: #ed145b;
}
.banner-img{
    float: left;
    width: 900px;
    height: 441px;
}
.banner-img .banner{
    position: relative;
}
.banner-img .banner .nav-banner{
    position: relative;
    height: 441px;
    width: 900px;
}
.banner-img .nav-banner .page{
    position: absolute;
    height: 441px;
    width: 100%;
}
.banner-img  .nav-banner .page img{
    width: 900px;
    height: 441px;
}
.banner-img .banner-mark{
    position: absolute;
    text-align: right;
    right: 0;
    z-index: 300;
    bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 30px;
}
.banner-img .banner-mark .banner-mark-item{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
}
.banner-img .banner-mark .banner-mark-item a{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../images/index/banner.png") no-repeat 0 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 5px;
    transition: all ease 0.6s;
    cursor: pointer;
}
.banner-img .banner-mark .banner-mark-item.active a{
    background: url("../images/index/banneractive.png") no-repeat 0 0;
}
.plate{
    height: 280px;
    width: 1200px;
    background: url("../images/index/plate.gif") no-repeat 0 0;
    margin-top: 15px;
}


.plate .da-thumbs {
    list-style: none;
    position: relative;
    margin: 20px auto;
    padding: 0;
    height: 280px;
    width: 1200px;
}
.plate .da-thumbs li {
    float: left;
    position: relative;
    height: 200px;
    width: 390px;
    border: 1px solid #eaeaea;
}
.da-thumbs li a,
.da-thumbs li a img {
    display: block;
    position: relative;
}
.da-thumbs li a {
    overflow: hidden;
}
.da-thumbs li a .plate-text {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff4c4c;
    text-align: center;
    padding-top: 50px;
    color: #ffffff;
}
.da-thumbs li .plate-text-show{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
}
.plate .plate-item-china{
    font-size: 22px;
}
.plate .plate-item-china{
    font-size: 22px;
    font-weight: 800;
    margin-top: 60px;
}
.plate .plate-item-big{
    font-size: 16px;
    margin-top: 15px;
}
.plate .plate-item-small{
    font-size: 10px;
    font-style: italic;
    margin-top: 3px;
    font-family: Georgia;
}


/*article content*/

