.sign-header{
    border-bottom: 2px solid #272729;
}
.sign-top{
    padding: 9px 0;
    width: 100%;
    text-align: center;
    position: relative;
}
.sign-top-right,
.sign-top-left{
    display: inline-block;
    /*width: 50%;*/
}
.sign-top-left{
    border-right: 1px solid #7bccff;
    text-align: right;
    padding-right: 40px;
    vertical-align: middle;
}
.sign-top-right{
    margin-left: 40px;
    vertical-align: middle;
}
.sign-go a{
    position: absolute;
    right: 0;
    bottom: 10px;
    right: 100px;
    font-size: 12px;
    color: #7bccff;
}
.sign{
    background: url("../images/login/loginbg.png") repeat 0 0;
    display: block;
    width: 100%;
    min-height: 100%;
    background-position: center center;
    background-size: 100% 100%;
}
.sign-info{
    width: 520px;
    margin: 80px auto 0px auto;
}
.sign-change{
    text-align: center;
}
.sign-change .sign-change-item{
    margin: 0 6px;
}
.sign-change .sign-change-item .active{
    color: #7bccff;
}
.sign-change .sign-change-item label{
    font-weight: 400;
    cursor: pointer;
}
.sign-change .sign-change-item i{
    font-size: 18px;
    margin-right: 10px;
    vertical-align: middle;
    color: #41d445;
}
.sign-block{
    margin-top: 40px;
}
.sign-block strong{
    font-weight: 400;
    position: relative;
    top: 7px;
}
.sign-enter{
    width: 400px;
    height: 35px;
    border: 1px solid #d7d7d7;
    font-size: 14px;
    padding-left: 5px;
}
.sign-block td{
    padding-bottom: 25px;
    /*position: relative;*/
}
.sign-warning{
    display: none;
    font-size: 12px;
    color: #7bccff;
    margin-left: 10px;
    position: absolute;
    margin-top: 10px;
}
.sign-prompt{
    font-size: 12px;
    color: #99999c;
}
.sign-block-left{
    text-align: right;
    vertical-align: text-top;
}
.sign-strength{
    position: relative;
    height: 22px;
    display: inline-block;
    margin-top: 14px;
}
.sign-strength .sign-strength-left.color{
    background-color: #ff3f7e;
}
.sign-strength .sign-strength-center.color{
    background-color: #ffff00;
}
.sign-strength .sign-strength-right.color{
    background-color: #41d445;
}
.sign-strength .sign-strength-item{
    display: inline-block;
    width: 60px;
    height: 22px;
    background-color: #e1e1e1;
    float: left;
    text-align: center;
    font-size: 12px;
    padding: 4px 0;
}
.sign-checkbox{
    height: 18px;
    width: 18px;
    vertical-align: bottom;
    border: 1px solid  #7bccff;
}
.sign-checkbox-text a{
    color: #7bccff;
}
.sign-submit button{
    margin-top: 10px;
    width: 282px;
    height: 41px;
    background: url("../images/login/loginbt.png") no-repeat 0 0;
    font-size: 18px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
}
.sign-submit button:hover{
    background: url("../images/login/loginbthover.png") no-repeat 0 0;
}
.clause-bg{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(149, 149, 149, 0.39);
}
.clause{
    position: fixed;
    background-color: #ffffff;
    width: 800px;
    height: 500px;
    border: 5px solid rgba(151, 151, 151, 0.19);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 10000;
}
.clause .clause-title{
    height: 30px;
    background-color: #F3F3F3;
    border-bottom: 1px solid #C4C4C4;
    position: relative;
}
.clause .clause-title .clause-close span{
    margin: 5px;
    position: absolute;
}
.clause .clause-title .clause-close i{
    position: absolute;
    right: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 5px;
}
.clause .clause-content{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: auto;
    padding: 8px;
}
.clause .clause-bt{
    height: 60px;
    text-align: center;
    padding-top: 12px;
    border-top: 1px solid #C4C4C4;
}
.clause .clause-bt button{
    border: 0;
    width: 250px;
    height: 35px;
    background-color: #E4393C;
    font-size: 14px;
    color: #ffffff;
}
.checkbox-sign-warning{
    display: none;
    font-size: 12px;
    color: #7bccff;
    position: absolute;
    margin-top: 6px;
}































